<div class="team">
        <!-- loop through all our team members and put their info on the page -->
        <!-- this is exactly like a forEach loop with plain JavaScript -->

        {{#each things}}
            <div class="user-panel">
                <a class="u-link" href="{{ ID }}"><img class="u-avatar" src="images/{{ icon }}" alt="avatar"></a>

                <a class="u-link" href="{{ ID }}">
                    Click The Image (or here)
                </a>

                <h1>{{ name }}</h1>
                <p>{{ description }}</p>
            </div>
        {{/each}}
        
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>

        <div class="lb-content">
            <div class="para para1"></div>
            <div class="para para2"></div>
            <div class="images"></div>
            <!-- render the database content here -->

        </div>
    </section>
</section>
